<!DOCTYPE html>
<html lang="en">
<head>
    <title>Qais's Food Tracker</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/img/FoodTrackerIcon.png" rel="icon" type="image/x-icon">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">

    <script src="script.js" defer></script>
    <script src="dynmicEvents.js" defer></script>

</head>
<body>
    <div class="body">
        <div class="controlPanel">
            <div class="controlPanel-left">
                <div>
                    <div>
                        <button id="addform-button">+</button>
                    </div>
                    <div class="addform-form">
                        <form id="addform">
                            <input type="text" placeholder="First Meal" name="addform-firstMeal">
                            <input type="text" placeholder="Second Meal" name="addform-secondMeal">
                            <input type="number" placeholder="Meal Calories" name="addForm-mealCalories">
                            <select name="addForm-day" required>
                                <option value="sunday">Sunday</option>
                                <option value="monday">Monday</option>
                                <option value="tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="thursday">Thursday</option>
                                <option value="friday">Friday</option>
                                <option value="saturday">Saturday</option>
                            </select>
                            <button type="submit" id="addform-submit">✔</button>
                            <!--Make Styles Better also make the Edit List-->
                        </form>
                    </div>
                </div>
                <div>
                    <div>
                        <button id="infoform-button">𝒊</button>
                    </div>
                    <div class="infoform-list">
                        <ul>
                            <li>Normal Plate => 535g</li>
                            <li>Small Plate => 193g</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="controlPanel-right">
                <div>
                    <div>
                        <button id="editform-button">Edit</button>
                    </div>
                    <div class="editform-form">
                        <form>
                            <input type="number" placeholder="Daily Calorie Intake" step="any" name="daily_calorie" min="0" required>
                            <button type="submit">✔</button>
                        </form>
                        <form>
                            <input type="number" placeholder="Curent Weight" step="any" name="current_weight" min="0" required>
                            <button type="submit">✔</button>
                        </form>
                        <form>
                            <button id="suger-streak-resetButton">Reset Streak</button>
                        </form>
                    </div>
                </div>
                <button id="deleteButton">Clear content</button>
            </div>
        </div>
        <div class="infoPanel">
            <div class="infoPanel-panel">
                <div>
                    <ul id="firstMealList">
                        <li class="cell-headers">First Meal</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div>
                    <ul id="secondMealList">
                        <li class="cell-headers">Second Meal</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="block-cell">
                </div>
                <div>
                    <ul id="mealCalorieList">
                        <li class="cell-headers">Total day Calorie</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div>
                    <ul class="days-cellList">
                        <li class="cell-headers">Days</li>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                </div>
                <div class="infoPanel-info">
                    <div>
                        <p>Daily Calorie Intake</p>
                        <p id="daily-calorieCount"></p>
                    </div>
                    <div>
                        <p>Current Weight</p>
                        <p id="curent-weightCount"></p>
                    </div>
                    <div>
                        <p>Suger cut Streak</p>
                        <p id="suger-streak"></p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>A <span><span>P</span>lot<span>P</span>oint</span> project</p>
            <p>Made by Qais Ashram</p>
        </footer>
    </div>
</body>
</html>