<!DOCTYPE html>
<html lang="en">
<head>
    <title>Qais's Food Tracker</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../public/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">

    <script src="../public/script.js" defer></script>

</head>
<body>
    <div class="body">
        <div class="controlPanel">
            <div class="controlPanel-left">
                <button>+</button>
            </div>
            <div class="controlPanel-right">
                <button>Edit</button>
                <button>Clear content</button>
            </div>
        </div>
        <div class="infoPanel">
            <div class="infoPanel-panel">
                <div>
                    <ul>
                        <li>First Meal</li>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>First Meal</li>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>First Meal</li>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>First Meal</li>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>First Meal</li>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                </div>
                <div>
                    <div>
                        Current weight
                    </div>
                    <div>
                        Daily Ca
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Made by Qais Ashram</p>
        </footer>
    </div>
</body>
</html>